body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

form{
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:5px;
}

input,textarea,select{
width:90%;
padding:8px;
margin:5px;
}

button{
padding:10px;
background:#3498db;
color:white;
border:none;
cursor:pointer;
}

table{
margin:auto;
border-collapse:collapse;
width:80%;
}

th,td{
padding:10px;
border:1px solid #ddd;
}